.container-gaia .showlayout-gaia {
  background-color: #fafafa;
}
#record-gaia {
  background-color: #fafafa;
}
/* group */

.container-gaia .row-gaia .control-gaia.control-group-gaia {
  background-color: transparent;
  box-shadow: 4px 4px 2px rgba(0,0,0, .15);
  width: 100%;
  max-width: 1024px;
  padding-bottom: 1em;
}

.container-gaia .row-gaia {
  margin-bottom: 1.6em;
}
.container-gaia .row-gaia:first-of-type {
  border-top: 1px dashed #aaa;
  padding-top: .8em;
}
.container-gaia .row-gaia .control-gaia.control-group-gaia .group-label-gaia {
  width: 100%;
  font-weight: bolder;
  box-sizing: border-box;
  display: block;
}

.container-gaia .row-gaia .control-gaia.control-group-gaia .group-label-gaia:focus {
  background-color: rgba(0,0,0, .06);
}
.container-gaia .row-gaia .control-gaia.control-group-gaia .group-label-gaia:focus {
  outline: none;
  border: 0;
  background-color: rgba(0,0,0, .06);
}
.container-gaia .row-gaia .control-gaia.control-group-gaia div {
  background-color: transparent;
}
.container-gaia .showlayout-gaia .row-gaia .control-label-gaia {
  background: transparent;
}
.container-gaia .showlayout-gaia .row-gaia .control-value-gaia {
  border-color: #ccc;
  border-top: 0;
  background: transparent;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #777;
  font-family: 'Yu Gothic';
  font-size: 15px;
}
table .container-gaia .showlayout-gaia .row-gaia .control-value-gaia {
  border-bottom: 0;
}
